[Unit]
Description=Flask HTTP Service for Raspberry Pi Image Exchange
After=network.target

[Service]
User=root
WorkingDirectory=/home/uitml/flask_rpi
ExecStart=/usr/bin/python3 /home/uitml/flask_rpi/app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target